*{
    padding: 0px;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    
}
/*
table,th{
    border: 1px solid red;
    border-collapse: collapse;
}*/

div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color:bisque;
    transition:height 2s, width 2s ;
    animation-name: color;
    animation-duration: 10s;
}
@keyframes color{
    0%{
        background-color: rgb(188, 176, 17);
    }
    10%{
        background-color: rgb(218, 120, 0);
    }
    20%{
        background-color: rgb(181, 43, 43);
    }
    30%{
        background-color: rgb(186, 2, 66);
    }
    40%{
        background-color: rgb(153, 9, 201);
    }
    50%{
        background-color: rgb(81, 18, 199);
    }
    60%{
        background-color: rgb(9, 192, 233);
    }
    70%{
        background-color: rgb(11, 224, 142);
    }
    80%{
        background-color: rgb(12, 219, 71);
    }
    100%{
        background-color: rgb(255, 243, 77);
    }
}
div:hover{
    
    width: 200px;        
    height: 150px;
    
}

